@import "global.scss";


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;

    margin: clamp(1rem, 6vh, 7rem) 0 2rem;
    

    transition-duration: .5s;

    >img{
        width: 100%;
        
        display: none;
    }
    
    section {
        strong{
            display: block;
            
            margin-top: clamp(3.5rem, 8vh, 12.7rem);

            line-height: clamp(5.9rem, 12vh, 7.8rem);
            font-size: clamp(8rem, 12vw, 9.3rem);
            font-weight: 700;
        }

        p{
            margin-top: clamp(3rem, 7vh, 5rem);

            font-size: clamp(1.9rem, 3.5vw, 3.8rem);
            font-weight: 400;
            line-height: clamp(1.9rem, 4vh ,4.9rem);
        }
    }

    a{
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: clamp(2.3rem, 5vh, 6rem);

        width: 70%;
        max-width: 30.4rem;
        height: 5.1rem;

        background: $primary-color;

        border-radius: 1.5rem;

        color: #fff;

        font-size: 2.1rem;
        font-weight: 700;
    }
    
}
main.toggle{
    filter: blur(1.5rem);

    a{
        pointer-events: none;
    }
}

/*JioPhone2*/
/*
@media screen and (width: 320px) and (height: 240px) {
    main{
        background: url(../assets/images/person1.svg) no-repeat, url(../assets/images/person3.svg) no-repeat;
        background-size: 37%, 40%;
        background-position: -20% 12%, 125% 28%;

        padding: 2rem 0;
        margin: 0;

        section{
            strong{
                margin-top: 0;

                font-size: 3.6rem;
                line-height: 3rem;
            }
            p{
                font-size: 1.4rem;
                line-height: 1.7rem;
                text-align: center;
                
                margin: 1.4rem auto 0;
                
                width: 21rem;
            }
        }
        a{
            border-radius: .7rem;
            
            width: 41%;
            height: 3.1rem;

            font-size: 1.3rem;

            margin-top: 1rem;
        }
    }
}
*/
/*Mobile*/
@media screen and (min-width: 160px){
    main{
        background: url(../assets/images/person1.svg) no-repeat, url(../assets/images/person3.svg) no-repeat;
        background-size: 37%, 40%;
        background-position: -20% 7%, 125% 39%;

        padding: 2rem 0;
        margin: 0;

        height: calc(100vh - 6.6rem);
        section{
            strong{
                margin-top: 1rem;

                font-size:clamp(3rem, 22vw, 7rem);
                line-height: clamp(6rem, 13vh, 7rem);
            }
            p{
                margin: 3rem auto 0;
                width: 90%;
            }
        }
    }
}

/*Mobile landscape*/
@media screen and (min-height: 270px) and (max-height: 610px) and (min-width: 460px) and (max-width: 965px){
    main{
        background: url(../assets/images/team.svg) no-repeat;
        background-size: clamp(25%, 51vw, 85%);
        background-position: 100% 50%;

        align-items: flex-start;

        text-align: left;
        
        margin: 0 0 0 4rem;
        padding: 0;

        height: initial;
        
        >img{
            display: none;
        }
        section{
            width: clamp(34rem, 70vw ,46rem);
            
            strong{
                margin: clamp(2rem, 5vh, 5rem) 0 0;
            
                font-size: clamp(2rem, 7vw, 5rem);
                line-height: clamp(3.8rem, 13vh, 6rem);
            }
            p{
                margin: 1.5rem 0 0;
                
                font-size: clamp(1.5rem, 2vw, 3.8rem);
                line-height: clamp(2.2rem, 4vh, 4.4rem);
                
                width: clamp(22rem, 37vw, 28rem);
            }

        }
        a{
            margin-top: clamp(1rem, 7vh, 3rem);
    
            height: 3.5rem;
            max-width: 16.2rem;
    
            border-radius: .8rem;
    
            font-size: 2rem;
        }
    }

}
/*Tablet*/
@media screen and (min-height: 611px) and (max-height: 1367px) and (min-width: 600px) and (max-width: 1024px){
    main{
        background-size: 37%, 40%;
        background-position: -18% 20%, 125% 27%;

        padding: 2rem 0 0;

        height: 92vh;
        section{
            strong{
                font-size: clamp(7rem, 15vw, 21rem);
                line-height: clamp(10rem, 13vh, 27rem);

                width: clamp(42rem, 60vw, 60rem);

                margin: 0 auto;
            }
            p{
                font-size: clamp(2.5rem, 4vw, 4.8rem);
                line-height: clamp(5.2rem, 6vh, 4.4rem);

                width: clamp(32rem, 61vw, 59rem);
            }
        }
    }
}

/*
@media screen and (min-width: 660px){
    main{
        section{
            strong{   
                line-height: 9.8rem;
            }
        }
    }

}*/

@media screen and (min-width: 1025px) {
    main{
        align-items: flex-start;
        
        text-align: left;
        
        margin: 0 0 0 9rem;
        background: initial;
        height: initial;

        >img{
            display: none;
        }

        section{
            width: 66rem;

            strong{
                margin-top: clamp(4.3rem, 10vh, 12.7rem);

                font-size: clamp(8rem, 7vw, 9.3rem);
                line-height: clamp(9.8rem, 11vh, 10.8rem);

            }

            p{
                margin: 3.2rem 0 0;
                
                font-size: clamp(2.6rem, 2vw, 3.8rem);
                line-height: clamp(3.2rem, 4vh, 4.4rem);
                
                width: clamp(46rem, 42vw, 57rem);
            }
        }

        a{
            margin-top: 4rem;

            height: 7rem;
            max-width: 31rem;

            border-radius: 2.2rem;

            font-size: 3rem;
        }
    }   
}
@media screen and (min-width: 1440px) {
    main{
        align-items: flex-start;
        
        text-align: left;
        
        margin: 0 0 0 11.6rem;

        >img{
            display: none;
        }

        section{
            width: 66rem;
        }

        a{
            margin-top: 6.6rem;

            height: 8.8rem;
            max-width: 40.4rem;

            border-radius: 2.2rem;

            font-size: 4rem;
        }
    }      
}