@import "global.scss";


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;

    margin: clamp(1rem, 6vh, 7rem) 0 2rem;
    

    transition-duration: .5s;

    >img{
        width: 100%;
        display: none;
    }
    
    section {
        strong{
            display: block;
            
            margin-top: clamp(3.5rem, 8vh, 12.7rem);

            line-height: clamp(5.9rem, 12vh, 7.8rem);
            font-size: clamp(8rem, 12vw, 9.3rem);
            font-weight: 700;
        }

        p{
            margin-top: clamp(3rem, 7vh, 5rem);

            font-size: clamp(1.9rem, 3.5vw, 3.8rem);
            font-weight: 400;
            line-height: clamp(1.9rem, 4vh ,4.9rem);
        }
    }

    a{
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: clamp(2.3rem, 5vh, 6rem);

        width: 70%;
        max-width: 30.4rem;
        /*width: min(70%, 30.4rem);*/
        /*max-width: 40.4rem;*/
        height: 5.1rem;

        background: $primary-color;

        border-radius: 1.5rem;

        color: #fff;

        font-size: 2.1rem;
        font-weight: 700;
    }
    
}
main.toggle{
    filter: blur(1.5rem);

    a{
        pointer-events: none;
    }
}

@media screen and (min-width: 425px) {
    main{
        /*margin: 4.9rem 2.5rem 0;*/

        a{
            /*margin: 2.3rem 0 2rem;*/
        }
    }
}
@media screen and (min-width: 660px){
    main{
        section{
            strong{
                /*font-size: 6.7rem;*/
                line-height: 9.8rem;
            }
            p{
                /*font-size: 2.4rem;*/
                /*line-height: 2.4rem;*/
            }
        }
    }

}
@media screen and (min-width: 1024px) {
    main{
        align-items: flex-start;
        
        text-align: left;
        
        margin: 0 0 0 9rem;

        >img{
            display: none;
        }

        section{
            width: 66rem;

            strong{
                /*margin-top: 4.3rem;*/
                margin-top: clamp(4.3rem, 10vh, 12.7rem);

                /*font-size: 8rem;*/
                font-size: clamp(8rem, 7vw, 9.3rem);
                /*line-height: 9rem;*/
                line-height: clamp(9.8rem, 11vh, 10.8rem);

            }

            p{
                margin-top: 3.2rem;
                
                /*font-size: 2.6rem;*/
                font-size: clamp(2.6rem, 2vw, 3.8rem);
                /*line-height: 3.2rem;*/
                line-height: clamp(3.2rem, 4vh, 4.4rem);
                
                /*width: 37rem;*/
                width: clamp(46rem, 42vw, 57rem);
            }
        }

        a{
            margin-top: 4rem;

            height: 7rem;

            border-radius: 2.2rem;

            font-size: 3rem;

            /*width: 31rem;*/
            max-width: 31rem;
        }
    }   
}
@media screen and (min-width: 1200px) {
    main{
        section{
            p{
                /*margin-top: 3.2rem;*/
                
                /*font-size: 2.8rem;*/
                /*line-height: 4.4rem;*/
    
                /*width: 57.9rem;*/
            }
        }
    }
    
}
@media screen and (min-width: 1440px) {
    main{
        align-items: flex-start;
        
        text-align: left;
        
        margin: 0 0 0 11.6rem;

        >img{
            display: none;
        }

        section{
            width: 66rem;

            strong{
                /*margin-top: 12.7rem;*/

                /*font-size: 9.3rem;*/
                /*line-height: 10.8rem;*/

            }

            p{
                /*margin-top: 3.2rem;*/
                
                /*font-size: 3.8rem;*/
                /*line-height: 4.4rem;*/
            }
        }

        a{
            margin-top: 6.6rem;

            height: 8.8rem;

            border-radius: 2.2rem;

            font-size: 4rem;

            /*width: 40.4rem;*/
            max-width: 40.4rem;
        }
    }      
}