#container header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 4rem 2.5rem 0;
    margin-bottom: 7rem;
}

#container header h2{
    color: var(--primary-color);

    margin-left: 1rem;
    
    font-weight: 700;
    font-size: 2.5rem;
}

/*Btn mobile*/
#container header span{
    width: 2rem;
    height: .3rem;

    background-color: var(--second-color);
}
#container header span::before, #container header span::after{
    content: '';
    
    width: 2rem;
    height: .3rem;

    display: block;
    
    position: relative;
    
    background-color: var(--second-color);
}
#container header span::before{
    top: -0.7rem;
}
#container header span::after{
    top: .4rem;
}

#container header nav{
    display: none;
}


@media screen and (min-width: 1000px){
    #container header{
        margin-bottom: 5rem;
        margin: 4rem 1rem;
        padding: 0;
    }
    
    #container header h2{
        margin-left: 2.5rem;

        font-size: 3rem;
    }
    #container header span{
        display: none;
    }

    #container header nav{
        display: flex;
    }

    .menu ul{
        display: flex;
        gap: 2.3rem;

        margin-right: 3rem;
    }
    .menu ul li a{
        font-size: 2.5rem;
        

        color: var(--second-color);
    }
}