.content{
}
.content header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 4rem 2.5rem 0;
    /*margin-bottom: 7rem;*/
    margin-bottom: clamp(1.5rem, 3vh, 10rem);
}

.content header h2{
    color: var(--primary-color);

    margin-left: 1rem;
    
    font-weight: 700;
    font-size: 2.5rem;
}

/*Btn mobile*/
.content header span{
    width: 2rem;
    height: .3rem;

    background-color: var(--second-color);
}
.content header span::before, .content header span::after{
    content: '';
    
    width: 2rem;
    height: .3rem;

    display: block;
    
    position: relative;
    
    background-color: var(--second-color);
}
.content header span::before{
    top: -0.7rem;
}
.content header span::after{
    top: .4rem;
}

/*Menu*/
.content header nav{
    display: none;
}

/*main content*/
.content main{
    padding: 0 4rem;

    text-align: center;
}
.content main img{
    width: 100%;

    margin-bottom: 3.5rem;
}

.content main h1{
    font-weight: bold;
    font-size: clamp(2.5rem, 10vw, 9rem);

    margin-bottom: 3.5rem;
}

.content main p{
    font-size: 1.9rem;

    margin-bottom: 3.5rem;
}

.content main a{
   height: 6rem;
   width: 85%;
   max-width: 40rem;

   margin: 0 auto;

   display: block;
   background: var(--primary-color);

   display: flex;
   justify-content: center;
   align-items: center;

   font-weight: bold;
   font-size: 2.5rem;

   color: white;

   border-radius: 1.8rem;
}