.content main{
    padding: 0 4rem;

    text-align: center;
}
.content main img{
    width: 100%;

    margin-bottom: 3.5rem;
}

.content main h1{
    font-weight: bold;
    font-size: clamp(2.5rem, 10vw, 9rem);

    margin-bottom: 3.5rem;
}

.content main p{
    font-size: clamp(1.5rem, 5vw, 3.5rem);

    margin-bottom: 3.5rem;
}

.content main a{
   height: 6rem;
   width: 85%;
   max-width: 40rem;

   margin: 0 auto;

   display: block;
   background: var(--primary-color);

   display: flex;
   justify-content: center;
   align-items: center;

   font-weight: bold;
   font-size: 2.5rem;

   color: white;

   border-radius: 1.8rem;
}

